*{
    font-family: JetBrainsMono;
    font-size: 13px;
    min-height: 0;
    color: white;
}

window#waybar {
    background-color: rgba(36, 40, 59, 0.75);
}

#workspaces {
    margin-top: 3px;
    margin-bottom: 2px;
    margin-right: 10px;
    margin-left: 25px;
}

#workspaces button {
    border-radius: 0px;
    margin-right: 5px;
    padding: 1px 10px;
    font-weight: bolder;
}

.modules-left, .modules-center, .modules-right, #workspaces button {
    background: #252525;
}

#workspaces button.active, #workspaces button.focused {
    padding: 0 10px;
    background: #7C9D96;
}

#tray,
#cpu, 
#temperature, 
#memory,
#backlight, 
#pulseaudio, 
#disk,
#battery, 
#clock, 
#network {
    padding: 0 10px;
}
